@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    font-family: Microsoft JhengHei;
}
.navbar{  
	justify-content: center;
}

/*
  justify-content: center;
  align-items: center;
  text-align: center;
 */












